*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    margin: 10px 0;
}
body{
    background: rgb(3, 3, 36);
}
.container{
    text-align: center;
    color: white;
}
.taskCreation input{
    padding: 5px;
}
.taskCreation button{
    padding: 5px;
}
.display_area ul .item{
    display: flex;
    justify-content: flex-end;
    margin: 5px 0;
}
.display_area ul{
    max-width: 500px;
    margin: 20px auto;
}
.display_area ul .item li{
    flex-grow: 1;
    text-align: left;
    list-style: none;
    background: orange;
    padding: 10px;
}
.display_area ul .item button{
   height: 40px;
   width: 40px;
}
.display_area ul .item button i{
  font-size: 20px;
  pointer-events: none;
}
.completed_task{
    text-decoration: line-through;
    opacity: 0.5;
}